@charset 'utf-8';

/* re-define variables */

/* base color & setting */
$body-bg: #1f253d;
$body-bg2: lighten($body-bg, 15%);
$body-color: #fff;
$link-color: $body-color;
$link-hover-decoration: none;

@import 'utils/variables';
@import 'utils/functions';
@import 'utils/mixins';

@import 'base/normalize';
@import 'base/reset';

@import 'components/buttons';
@import 'components/menulist';

@import 'layout/common';
@import 'layout/utilities';
@import 'layout/home';
