<div class="row multi-chart" ng-hide="compareList.length==0">
  <canvas id="line" class="chart chart-line" chart-data="chart.data" chart-series="chart.series"
  chart-labels="chart.labels" chart-legend="true" chart-options="chart.options">
  </canvas>
  <ul class="list-mates">
    <li ng-repeat="compare in compareList | orderBy: compareList.id">
      <button class="btn btn-block" ng-class="{'btn-info': compare.id<22, 'btn-danger': compare.id>21}" ng-bind="compare.name" ng-click="removeCompare($index)"></button>
    </li>
  </ul>
</div>

<div class="row">
  <button class="btn btn-primary btn-block" ng-click="candidateSwitch()" ng-class="{disabled: compareList.length>=4}">
    <span class="fa fa-plus-circle"></span> 添加对比同学</button>
</div>

<div class="add-list" ng-show="showList">
  <i class="close fa fa-times-circle-o" ng-click="candidateSwitch()"></i>
  <ul class="list-mates">
    <li ng-repeat="mate in mates | orderBy: mates.id">
      <button class="btn btn-block" ng-class="{'btn-info': mate.id<22, 'btn-danger': mate.id>21}" ng-bind="mate.name" ng-click="addCompare($index)"></button>
    </li>
  </ul>
</div>
