@charset 'utf-8';

/* text justfiy */
.text-j {
  text-align: justify;
  hyphens: auto;
}

/* text center */
.text-c {
  text-align: center;
}

/* slide menu move to right */
.slide-show {
  transform: translateX(60%);
}
