@charset 'utf-8';

/* text justfiy */
.text-j {
  text-align: justify;
  hyphens: auto;
}

/* text center */
.text-c {
  text-align: center;
}

/* slide menu move to right */
.slide-show {
  transform: translateX(60%);
}

.title {
  text-align: center;
  background-color: $brand-info;

  .row > & {
    margin: $spacer * -1;
    margin-bottom: $spacer;
  }
}
