/* hamburg button */
.hamburg {
  $cell: 1.5rem / 5;
  @include absolute(top $spacer * 1.1 left $spacer / 2);
  @include size(1.8rem, $cell);

  background-color: $body-color;
  border-radius: $cell * 2;
  transition: all 0.5s;

  &::before,
  &::after {
    @include absolute(top $cell * -2 left 0 right 0);

    content: '';
    height: $cell;
    background-color: inherit;
    border-radius: inherit;
    transition: transform 0.5s;
  }

  &::after {
    top: $cell * 2;
  }

  &.active {
    background-color: darken($body-bg2, 8%);
    transform: rotate(0.5turn);

    &::before {
      background-color: $body-color;
      transform: translateY($cell * 2) rotate(135deg);
    }

    &::after {
      background-color: $body-color;
      transform: translateY($cell * -2) rotate(-135deg);
    }
  }
}
